@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
@import url('https://fonts.googleapis.com/css?family=Righteous');

body *:focus {
	outline: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 90px;
	background-color: #282828;
	font-family: 'Titillium Web', sans-serif;
}

h2, h3 {
	font-family: 'Righteous', sans-serif;
}

.navbar {
	box-sizing: border-box;
	background: #fa056f;
}

.navbar .navbar-brand {
	font-size: 28px;
	font-weight: 600;
}

.logo-image {
	box-sizing: border-box;
	height: 30px;
	width: auto;
	margin: 2px;
	-webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
}
.logo-image:hover {
	height: 32px;
	width: auto;
	margin: 1px;
	animation-name: bounce;
  -moz-animation-name: bounce;
}

body > .container {
  padding: 40px 15px 0;
	color: #ffffff;
}

main hr {
	border-color: #fa056f;
	margin: 40px 0px;
}

.effect-div {
	position: relative;
}

#profile-img {
	border: 2px solid #fa056f;
}

#about-row > div.img-col {
	text-align: center;
}
#about-row > div > img {
	width: 350px;
	height: auto;
}

#about-row {
	font-size: 18px;
}

.portfolio-item {
	padding: 20px;
}

.portfolio-item a {
	color: #05eafa;
}
.portfolio-item a:active,
.portfolio-item a:visited,
.portfolio-item a:hover {
	color: #05eafa;
}
.portfolio-item div.project-name {
	color: #05eafa;
}

.portfolio-item img {
	height: 180px;
	width: auto;
	border: 2px solid #490e61;
}

.contact-email,
.contact-email:active,
.contact-email:visited,
.contact-email:hover {
	color: #05eafa;
}

.form-control {
	padding: 10px;
	border: 2px solid #490e61;
}
.form-control:focus {
	border: 2px solid #fa056f;
}

textarea {
	width: 100%;
	resize: none;
}

.btn.btn-primary {
	background: #fa056f;
	background-color: #fa056f;
	border: none;
}
.btn.btn-primary.focus,
.btn.btn-primary:focus {
	background: #c80459;
	background-color: #c80459;
}
.btn.btn-primary:hover {
	background: #c80459;
	background-color: #c80459;
}
.btn.btn-primary.active,
.btn.btn-primary:active {
	background: #c80459;
	background-color: #c80459;
}
.btn.btn-primary.active.focus,
.btn.btn-primary.active:focus,
.btn.btn-primary.active:hover,
.btn.btn-primary:active.focus,
.btn.btn-primary:active:focus,
.btn.btn-primary:active:hover {
	background: #c80459;
	background-color: #c80459;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
	color: #7f7f7f;
	background: #490e61;
	font-size: 14px;
	text-align: center;
}

@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-10px);
		-ms-transform:     translateY(-10px);
		transform:         translateY(-10px)
	}
	60% {
		-webkit-transform: translateY(-5px);
		-ms-transform:     translateY(-5px);
		transform:         translateY(-5px)
	}
}